html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

form {
    margin-bottom: 0px;
}

#main-menu {
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
    }
}

.form-signin {
    max-width: 300px;
    margin: 60px auto 20px;
}

.grid-view .button-column .dropdown-menu {
    text-align: left;
}

.pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}

.button-column.pull-right {
    padding-right: 9px;
}

.modal-small {
    width: 320px;
    margin-left: -160px;
}

.modal-mini {
    width: 220px;
    margin-left: -110px;
}

.modal-large {
    width: 700px;
    margin-left: -350px;
}

.modal-xlarge {
    width: 900px;
    margin-left: -450px;
}

.deleted {
    color: #999;
    text-decoration: line-through;
}

#user-grid-filter {
    float: left;
    margin-bottom: 5px;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    margin-right: 0px;
    width: 18px;
}

img.image-select {
    margin: 10px;
    margin-bottom: 20px;
}

.input-append,
.input-prepend {
    margin-bottom: 10px;
}
